name: CI

on:
  pull_request:
    branches:
      - main
      - master

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: macos-14
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app/Contents/Developer

      - name: SwiftLint
        run: |
          brew install swiftlint
          swiftlint --config .swiftlint.yml

      - name: SDK Unit Tests (SwiftPM)
        run: |
          xcodebuild \
            -workspace TKTranslateSDK/.swiftpm/xcode/package.xcworkspace \
            -scheme TKTranslateSDK \
            -destination 'platform=macOS' \
            -enableCodeCoverage YES \
            -resultBundlePath TKTranslateSDKTests.xcresult \
            test

      - name: Upload Test Report
        uses: actions/upload-artifact@v4
        with:
          name: TKTranslateSDKTests.xcresult
          path: TKTranslateSDKTests.xcresult
