name: CI

on:
  pull_request:
    branches:
      - main
      - master

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: macos-14
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app/Contents/Developer

      - name: SwiftLint
        run: |
          brew install swiftlint
          swiftlint --config .swiftlint.yml

      - name: SDK Unit Tests (SwiftPM)
        run: |
          cd TKTranslateSDK
          swift test
